{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>{% trans "Login error. Please try again" %}!</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "No access. Please log in" %}.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{% trans "User" %}: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{% trans "Password" %}: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="{% blocktrans %}Log in{% endblocktrans %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p><a href="{% url 'password_reset' %}">{% trans "Forgot password" %}?</a></p>
  
{% endblock %}