{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Password reset confirm" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <p>{% trans "Insert new password and repeat it" %}.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans "New password" %}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans "Repeat password" %}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="{% blocktrans %}Change password{% endblocktrans %}" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% trans "Could not change password" %}</h1>
        <p>{% trans "Password change link is no longer valid. Please initiate password change again" %}.</p>
    {% endif %}
{% endblock %}