{% extends "base.html" %}

{% block title %}Password reset confirm{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Insert new password and repeat it.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Repeat password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Could not change password</h1>
        <p>Password change link is no longer valid. Please initiate password change again.</p>
    {% endif %}
{% endblock %}