{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Invoice" %}{% endblock %}

{% load static %}

{% block content %}

  <h1>{% trans "Invoice details" %}:</h1>
    <p><strong>{% trans "Date" %}: </strong>{{ bill_detail.date }}</p>
    <p><strong>{% trans "Number" %}: </strong> {{ bill_detail.number }}</p>
    <p><strong>{% trans "Issued to" %}: </strong> {{ bill_detail.client }}</p>
    <p><strong>{% trans "Works done at" %}: </strong> {{ bill_detail.construction_object }}</p>
    <p><strong>{% trans "Amount" %}: </strong> {{ bill_detail.amount }}</p>
    <p><strong>{% trans "Payment day" %}: </strong> {{ bill_detail.payment_date }}</p>
    <p><strong>{% trans "Status" %}: </strong> {{ bill_detail.get_status_display }}</p>
    <br>
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bill_update_view' bill_detail.pk %}">
        {% trans "Edit" %}
      </a>
    </div>

{% endblock %}