{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Bills" %}{% endblock %}

{% block content %}

  <h1 style="text-align:center">{% trans "Invoices" %}</h1>

  <form action="{% url 'search_bills' %}" method="get">
    <input name="query" type="text" placeholder="{% blocktrans %}Invoice search{% endblocktrans %}">
  </form>
   <br>

  {% if bills_list %}
        <table>
            <thead>
                <tr>
                    <th style="padding:10px">{% trans "Date" %}</th>
                    <th style="padding:10px">{% trans "Number" %}</th>
                    <th style="padding:10px">{% trans "Client" %}</th>
                    <th style="padding:10px">{% trans "Const. object" %}</th>
                    <th style="padding:10px">{% trans "Amount" %}</th>
                    <th style="padding:10px">{% trans "Status" %}</th>
                    <th style="padding:10px">{% trans "Payment date" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills_list %}
                    <tr>
                        <td style="padding:10px">
                            <a href="{% url 'bill_detail_view' bill.pk %}"
                               style="{% if bill.deadline_overdue and bill.unpaid %}color: red{% endif %}{% if bill.paid %}color: lime{% endif %}">
                                {{ bill.date }}
                            </a>
                        </td>
                        <td style="padding:10px">
                            <a href="{% url 'bill_detail_view' bill.pk %}"
                               style="{% if bill.deadline_overdue and bill.unpaid %}color: red{% endif %}{% if bill.paid %}color: lime{% endif %}">
                                {{ bill.number }}
                            </a>
                        </td>
                        <td style="padding:10px">
                            <a href="{% url 'bill_detail_view' bill.pk %}"
                               style="{% if bill.deadline_overdue and bill.unpaid %}color: red{% endif %}{% if bill.paid %}color: lime{% endif %}">
                                {{ bill.client }}
                            </a>
                        </td>
                        <td style="padding:10px">
                            <a href="{% url 'bill_detail_view' bill.pk %}"
                               style="{% if bill.deadline_overdue and bill.unpaid %}color: red{% endif %}{% if bill.paid %}color: lime{% endif %}">
                                {{ bill.construction_object }}
                            </a>
                        </td>
                        <td style="padding:10px">
                            <a href="{% url 'bill_detail_view' bill.pk %}"
                               style="{% if bill.deadline_overdue and bill.unpaid %}color: red{% endif %}{% if bill.paid %}color: lime{% endif %}">
                                {{ bill.amount }}
                            </a>
                        </td>
                        <td style="padding:10px">
                            <a href="{% url 'bill_detail_view' bill.pk %}"
                               style="{% if bill.deadline_overdue and bill.unpaid %}color: red{% endif %}{% if bill.paid %}color: lime{% endif %}">
                                {{ bill.get_status_display }}
                            </a>
                        </td>
                        <td style="padding:10px">
                            <a href="{% url 'bill_detail_view' bill.pk %}"
                               style="{% if bill.deadline_overdue and bill.unpaid %}color: red{% endif %}{% if bill.paid %}color: lime{% endif %}">
                                {{ bill.payment_date }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
  {% else %}
    <p>{% trans "No bills at the moment" %}.</p>
  {% endif %}

   <br>
   <br>

  <div class="pagination" style="text-align:center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">{% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} {% trans "from" %} {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "forward" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
        {% endif %}
    </span>
  </div>
{% endblock %}