{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Invoice" %}{% endblock %}

{% load static %}

{% block content %}

  <h1 style="text-align: center">{% trans "Invoice details" %}</h1>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Date" %}: </strong></td>
        <td style="padding:10px">{{ bill_detail.date }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Number" %}: </strong></td>
        <td style="padding:10px">{{ bill_detail.number }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Issued to" %}: </strong></td>
        <td style="padding:10px">{{ bill_detail.client }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Works done at" %}: </strong></td>
        <td style="padding:10px">{{ bill_detail.construction_object }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Amount, EUR" %}: </strong></td>
        <td style="padding:10px">{{ bill_detail.amount }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Payment day" %}: </strong></td>
        <td style="padding:10px">{{ bill_detail.payment_date }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Status" %}: </strong></td>
        <td style="padding:10px">{{ bill_detail.get_status_display }}</td>
      </tr>
    </table>
  <br>
  <br>
  <div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bill_update_view' bill_detail.pk %}">
      {% trans "Edit" %}
    </a>
  </div>

{% endblock %}