{% extends "base.html" %}

{% block title %}Client{% endblock %}

{% load static %}

{% block content %}

  <h1>Client details:</h1>
    <p><strong>Name: </strong>{{ client_detail.title }}</p>
    <p><strong>Contact phone: </strong> {{ client_detail.contact_phone }}</p>
    <p><strong>E-mail: </strong> {{ client_detail.contact_email }}</p>
    <p><strong>Address: </strong> {{ client_detail.contact_address }}</p>
    <br>
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Edit</a>
    </div>

{% endblock %}