{% extends "base.html" %}

{% block title %}Construction objects{% endblock %}

{% block content %}
  <h1  style="text-align:center">Construction objects</h1>
  {% if construction_objects_list %}
    <ol>
      {% for construction_object in construction_objects_list %}
        <li>
          <a href="{% url 'construction_object_detail_view' construction_object.pk %}">
            {{ construction_object.address }} - {{construction_object.client}}</a>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No construction objects at the moment.</p>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">forward</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}