{% extends "base.html" %}

{% block title %}Construction object{% endblock %}

{% load static %}

{% block content %}

  <h1>Construction object details:</h1>

    <p><strong>Address:</strong>{{ construction_object_detail.address }}</p>
    <p><strong>Client:</strong> {{ construction_object_detail.client }}</p>
    <p><strong>Manager:</strong> {{ construction_object_detail.manager }}</p>

  <hr>
  <h2>Comments:</h2>
  {% if construction_object_detail.construction_object_comments.all %}
    {% for comment in construction_object_detail.construction_object_comments.all %}
      <hr>
      <strong>{{ comment.employee }}</strong>, <em>{{ comment.date}}</em>
      <p>{{ comment.text }}</p>
    {% endfor %}
  {% else %}
    <p>No comments yet</p>
  {% endif %}

  {% if user.is_authenticated %}
      <div class="fieldWrapper">
           <br/>
          <h4>Post comment:</h4>
          <form action="" method="post">
              {% csrf_token %}
              {{ form.text }}
              <br/>
              <input type="submit" value="Post">
          </form>
      </div>
  {% endif %}

{% endblock %}