{% extends "base.html" %}

{% block title %}My tasks{% endblock %}

{% block content %}
  <h1>My tools:</h1>

  {% if employee_tasks_list %}
    <ol>
      {% for task in employee_tasks_list %}
        <li><a href="{% url 'task_detail_view' task.pk %}">{{ task.title }} - {{task.deadline}} - {{ task.get_status_display }}</a></li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No assigned tasks.</p>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">forward</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}