{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "My tasks" %}{% endblock %}

{% block content %}
  <h1>{% trans "My tasks" %}:</h1>

  {% if employee_tasks_list %}
      {% for task in employee_tasks_list %}
        {% if task.employee == user %}
            <p>{% trans "Assigned tasks" %}:</p>
                <ol>
                    <li>
                        <a style="{% if task.deadline_overdue %}color: red{% endif %}" href="{% url 'task_detail_view' task.pk %}">
                            {{ task.manager }} - {{ task.title }} - {{task.deadline}} - {{ task.get_status_display }}
                        </a>
                    </li>
                </ol>
        {% endif %}
        {% if task.manager == user %}
            <p>{% trans "Created tasks" %}:</p>
                <ol>
                    <li>
                        <a style="{% if task.deadline_overdue %}color: red{% endif %}" href="{% url 'task_detail_view' task.pk %}">
                            {{ task.title }} - {{task.deadline}} - {{ task.get_status_display }}
                        </a>
                    </li>
                </ol>
        {% endif %}
      {% endfor %}
  {% else %}
    <p>{% trans "No tasks at the moment" %}.</p>
  {% endif %}
   <br>
   <div>
      <form action="{% url 'search_tasks' %}" method="get">
        <input name="query" type="text" placeholder="{% blocktrans %}Task search{% endblocktrans %}">
      </form>
   </div>
   <br>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} {% trans "from" %} {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "forward" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}