{% extends "base.html" %}

{% block title %}My tasks{% endblock %}

{% block content %}
  <h1>My tasks:</h1>

  {% if employee_tasks_list %}
      {% for task in employee_tasks_list %}
        {% if task.employee == user %}
            <p>Assigned tasks:</p>
                <ol>
                    <li>
                        <a style="{% if task.deadline_overdue %}color: red{% endif %}" href="{% url 'task_detail_view' task.pk %}">
                            {{ task.manager }} - {{ task.title }} - {{task.deadline}} - {{ task.get_status_display }}
                        </a>
                    </li>
                </ol>
        {% endif %}
        {% if task.manager == user %}
            <p>Created tasks:</p>
                <ol>
                    <li>
                        <a style="{% if task.deadline_overdue %}color: red{% endif %}" href="{% url 'task_detail_view' task.pk %}">
                            {{ task.title }} - {{task.deadline}} - {{ task.get_status_display }}
                        </a>
                    </li>
                </ol>
        {% endif %}
      {% endfor %}
  {% else %}
    <p>No assigned tasks.</p>
  {% endif %}
   <br>
   <div>
      <form action="{% url 'search_tasks' %}" method="get">
        <input name="query" type="text" placeholder="Task search">
      </form>
   </div>
   <br>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">forward</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}