{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "My received tasks" %}{% endblock %}

{% block content %}

  <h1 style="text-align:center">{% trans "My received tasks" %}</h1>

    <form action="{% url 'search_received_tasks' %}" method="get">
        <input name="query" type="text" placeholder="{% blocktrans %}Search received tasks{% endblocktrans %}">
    </form>

   <br>

  {% if employee_received_tasks %}
    <table>
      <thead>
          <tr>
              <th style="padding:10px">{% trans "Task" %}</th>
              <th style="padding:10px">{% trans "Manager" %}</th>
              <th style="padding:10px">{% trans "Deadline" %}</th>
              <th style="padding:10px">{% trans "Status" %}</th>
          </tr>
      </thead>
      <tbody>
          {% for task in employee_received_tasks %}
              <tr>
                  <td style="padding:10px">
                      <a href="{% url 'task_detail_view' task.pk %}"
                         style="{% if task.deadline_overdue and task.unfinished %}color: red{% endif %}
                         {% if task.new and not task.deadline_overdue%}color: yellow{% endif %}
                         {% if task.finished %}color: lime{% endif %}">
                          {{ task.title }}
                      </a>
                  </td>
                  <td style="padding:10px">
                      <a href="{% url 'task_detail_view' task.pk %}"
                         style="{% if task.deadline_overdue and task.unfinished %}color: red{% endif %}
                         {% if task.new and not task.deadline_overdue%}color: yellow{% endif %}
                         {% if task.finished %}color: lime{% endif %}">
                          {{ task.manager }}
                      </a>
                  </td>
                  <td style="padding:10px">
                      <a href="{% url 'task_detail_view' task.pk %}"
                         style="{% if task.deadline_overdue and task.unfinished %}color: red{% endif %}
                         {% if task.new and not task.deadline_overdue%}color: yellow{% endif %}
                         {% if task.finished %}color: lime{% endif %}">
                          {{ task.deadline }}
                      </a>
                  </td>
                  <td style="padding:10px">
                      <a href="{% url 'task_detail_view' task.pk %}"
                         style="{% if task.deadline_overdue and task.unfinished %}color: red{% endif %}
                         {% if task.new and not task.deadline_overdue%}color: yellow{% endif %}
                         {% if task.finished %}color: lime{% endif %}">
                          {{ task.get_status_display }}
                      </a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "No received tasks at the moment" %}.</p>
  {% endif %}

   <br>
  <div class="pagination" style="text-align:center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">{% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} {% trans "from" %} {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "forward" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
        {% endif %}
    </span>
  </div>

{% endblock %}