{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "My tools" %}{% endblock %}

{% block content %}
  <h1>{% trans "My tools" %}:</h1>

  {% if employee_tools_list %}
    <ol>
      {% for tool in employee_tools_list %}
        <li><a href="{% url 'tool_detail_view' tool.pk %}">{{tool.title}} {{tool.inventory_number}}</a></li>
      {% endfor %}
    </ol>
  {% else %}
    <p>{% trans "No taken tools" %}.</p>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} {% trans "from" %} {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "forward" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}