{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "New construction object / Update construction object" %}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{% trans "New construction object / Update construction object" %}</legend>
                    {{ form|crispy }}
                </fieldset>
                <br>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">{% trans "Submit" %}</button>
                </div>
        </form>
    </div>

{% endblock content %}