{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Construction object search results" %}{% endblock %}

{% block content %}
  <h1>{% trans "Search" %} "{{query}}" {% trans "results" %}:</h1>
  <br>
  {% if objects_list %}
  <ul>
    {% for object in objects_list %}
      <li>
        <a href="{% url 'construction_object_detail_view' object.pk %}">
          {{ object.address  }} {{object.client}} {{ object.manager }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{% trans "No construction objects for" %} "{{query}}" {% trans "query" %}</p>
  {% endif %}

{% endblock %}