{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Bill search results" %}{% endblock %}

{% block content %}
  <h1>{% trans "Search" %} "{{query}}" {% trans "results" %}:</h1>
  <br>
  {% if bills_list %}
  <ul>
    {% for bill in bills_list %}
      <li>
        <a href="{% url 'bill_detail_view' bill.pk %}">
          {{ bill.date }} {{bill.number}} {{ bill.client }} {{ bill.construction_object }} {{ bill.amount }} {{ bill.payment_date }} {{ bill.get_status_display }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{% trans "No invoices for" %} "{{query}}" {% trans "query" %}</p>
  {% endif %}

{% endblock %}