{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Tool search results" %}{% endblock %}

{% block content %}
  <h1>{% trans "Search" %} "{{query}}" {% trans "results" %}:</h1>
  <br>
  {% if tools_list %}
  <ul>
    {% for tool in tools_list %}
      <li>
        <a href="{% url 'tool_detail_view' tool.pk %}">
          {{ tool.title }} {{tool.inventory_number}} {{ tool.get_status_display }} {{ tool.employee }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{% trans "No tools for" %} "{{query}}" {% trans "query" %}</p>
  {% endif %}

{% endblock %}