{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Client search results" %}{% endblock %}

{% block content %}
  <h1>{% trans "Search" %} "{{query}}" {% trans "results" %}:</h1>
  <br>
  {% if clients_list %}
  <ul>
    {% for client in clients_list %}
      <li>
        <a href="{% url 'client_detail_view' client.pk %}">
          {{ client.title }} {{client.contact_phone}} {{ client.contact_email }} {{ client.contact_address }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{% trans "No clients for" %} "{{query}}" {% trans "query" %}</p>
  {% endif %}

{% endblock %}