{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Task" %}{% endblock %}

{% load static %}

{% block content %}

  <h1 style="text-align:center">{{ task_detail.title }}</h1>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Task manager" %}: </strong></td>
        <td style="padding:10px">{{ task_detail.manager }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Task date" %}: </strong></td>
        <td style="padding:10px">{{ task_detail.date }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Task details" %}: </strong></td>
        <td style="padding:10px">{{ task_detail.description | safe }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Assigned to" %}: </strong></td>
        <td style="padding:10px">{{ task_detail.employee }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Deadline" %}: </strong></td>
        <td style="padding:10px">{{ task_detail.deadline }}</td>
      </tr>
      <tr>
        <td style="padding:10px"><strong>{% trans "Status" %}: </strong></td>
        <td style="padding:10px">{{ task_detail.get_status_display }}</td>
      </tr>
    </table>

    <br>

    {% if task_detail.manager == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task_manager_update_view' task_detail.pk %}">{% trans "Edit task" %}</a>
        </div>
    {% endif %}
    {% if task_detail.employee == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task_update_view' task_detail.pk %}">{% trans "Edit task" %}</a>
        </div>
    {% endif %}

  <br>
  <hr>

  <h2>{% trans "Comments" %}:</h2>

  {% if task_detail.task_comments.all %}
    {% for comment in task_detail.task_comments.all %}
      <hr>
      <strong>{{ comment.employee }}</strong>, <em>{{ comment.date}}</em>
      <p>{{ comment.text }}</p>
    {% endfor %}
  {% else %}
    <p>{% trans "No comments yet" %}</p>
  {% endif %}

  {% if user.is_authenticated %}
      <div class="fieldWrapper">
           <br/>
          <h4>{% trans "Post comment" %}:</h4>
          <form action="" method="post">
              {% csrf_token %}
              {{ form.text }}
              <br/>
              <input type="submit" value="{% blocktrans %}Post{% endblocktrans %}">
          </form>
      </div>
  {% endif %}

{% endblock %}