{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Task" %}{% endblock %}

{% load static %}

{% block content %}

  <h1>{{ task_detail.title }}</h1>

    <p><strong>{% trans "Task manager" %}: </strong>{{ task_detail.manager }}</p>
    <p><strong>{% trans "Task date" %}: </strong>{{ task_detail.date }}</p>
    <p><strong>{% trans "Task details" %}: </strong> {{ task_detail.description | safe }}</p>
    <p><strong>{% trans "Assigned to" %}: </strong> {{ task_detail.employee }}</p>
    <p><strong>{% trans "Deadline" %}: </strong> {{ task_detail.deadline }}</p>
    <p><strong>{% trans "Status" %}: </strong> {{ task_detail.get_status_display }}</p>
    <br>
    {% if task_detail.manager == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task_manager_update_view' task_detail.pk %}">{% trans "Edit task" %}</a>
        </div>
    {% endif %}
    {% if task_detail.employee == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task_update_view' task_detail.pk %}">{% trans "Edit task" %}</a>
        </div>
    {% endif %}
    <br>
  <hr>
  <h2>{% trans "Comments" %}:</h2>
  {% if task_detail.task_comments.all %}
    {% for comment in task_detail.task_comments.all %}
      <hr>
      <strong>{{ comment.employee }}</strong>, <em>{{ comment.date}}</em>
      <p>{{ comment.text }}</p>
    {% endfor %}
  {% else %}
    <p>{% trans "No comments yet" %}</p>
  {% endif %}

  {% if user.is_authenticated %}
      <div class="fieldWrapper">
           <br/>
          <h4>{% trans "Post comment" %}:</h4>
          <form action="" method="post">
              {% csrf_token %}
              {{ form.text }}
              <br/>
              <input type="submit" value="{% blocktrans %}Post{% endblocktrans %}">
          </form>
      </div>
  {% endif %}

{% endblock %}