{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Tools" %}{% endblock %}

{% block content %}

  <h1 style="text-align:center">{% trans "Tool list" %}</h1>

  <form action="{% url 'search_tools' %}" method="get">
    <input name="query" type="text" placeholder="{% blocktrans %}Tool search{% endblocktrans %}">
  </form>

  <br>

  {% if tools_list %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="padding:10px">{% trans "Tool" %}</th>
                <th style="padding:10px">{% trans "Inventory number" %}</th>
                <th style="padding:10px">{% trans "Availability" %}</th>
                <th style="padding:10px">{% trans "Taken by" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for tool in tools_list %}
                <tr>
                    <td style="padding:10px"><a href="{% url 'tool_detail_view' tool.pk %}" style="{% if tool.ready %}color: LightGreen{% endif %}">{{ tool.title }}</a></td>
                    <td style="padding:10px"><a href="{% url 'tool_detail_view' tool.pk %}" style="{% if tool.ready %}color: LightGreen{% endif %}">{{ tool.inventory_number }}</a></td>
                    <td style="padding:10px"><a href="{% url 'tool_detail_view' tool.pk %}" style="{% if tool.ready %}color: LightGreen{% endif %}">{{ tool.get_status_display }}</a></td>
                    <td style="padding:10px"><a href="{% url 'tool_detail_view' tool.pk %}" style="{% if tool.ready %}color: LightGreen{% endif %}">{{ tool.employee }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>{% trans "No tools at the moment" %}.</p>
  {% endif %}

   <br>

  <div class="pagination" style="text-align:center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} {% trans "from" %} {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "forward" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}