{% extends "base.html" %}

{% block title %}Tools{% endblock %}

{% block content %}

  <h1  style="text-align:center">Tool list</h1>
  {% if tools_list %}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Tool</th>
                    <th scope="col">Inventory number</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Taken by</th>
                </tr>
            </thead>
            <tbody>
                {% for tool in tools_list %}
                    <tr>
                        <th scope="row"><a href="{% url 'tool_detail_view' tool.pk %}">{{ tool.title }}</a></th>
                        <td scope="row"><a href="{% url 'tool_detail_view' tool.pk %}">{{ tool.inventory_number }}</a></td>
                        <td scope="row"><a href="{% url 'tool_detail_view' tool.pk %}">{{ tool.get_status_display }}</a></td>
                        <td scope="row"><a href="{% url 'tool_detail_view' tool.pk %}">{{ tool.employee }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
  {% else %}
    <p>No tools at the moment.</p>
  {% endif %}
   <br>
  <form action="{% url 'search_tools' %}" method="get">
    <input name="query" type="text" placeholder="Tool search">
  </form>
   <br>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">forward</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}