{% extends "base.html" %}

{% block title %}Tools{% endblock %}

{% block content %}

  <h1  style="text-align:center">Tools list</h1>
  {% if tools_list %}
    <ol>
      {% for tool in tools_list %}
        <li>
          <a href="{% url 'tool_detail_view' tool.pk %}">{{ tool.title }} - {{tool.inventory_number}}</a>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No tools at the moment.</p>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">forward</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}