{% extends "base.html" %}

{% block title %}Tool{% endblock %}

{% load static %}

{% block content %}

  <h1>{{ tool_detail.title }}</h1>
      {% if tool_detail.picture %}
        <img src="{{ tool_detail.picture.url}}" class="card-img-top" alt="...">
      {% else %}
        <img src="{% static 'images/no-image.png' %}" style="width:300px;height:400px;">
      {% endif %}
  <br>
  <p><strong>Tool inventory number:</strong>{{ tool_detail.inventory_number }}</p>
  <p><strong>Status:</strong> {{ tool_detail.get_status_display }}</p>
  <p><strong>In possession:</strong> {{ tool_detail.employee }}</p>
  <p><strong>Construction object:</strong> {{ tool_detail.construction_object }}</p>
  <br>
  {% if user.is_authenticated %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'tool_update_view' tool_detail.pk %}">Edit tool</a>
      </div>
  {% endif %}

  <hr>
  <h2>Comments:</h2>
  {% if tool_detail.tool_comments.all %}
    {% for comment in tool_detail.tool_comments.all %}
      <hr>
      <strong>{{ comment.employee }}</strong>, <em>{{ comment.date}}</em>
      <p>{{ comment.text }}</p>
    {% endfor %}
  {% else %}
    <p>No comments yet</p>
  {% endif %}

  {% if user.is_authenticated %}
      <div class="fieldWrapper">
           <br/>
          <h4>Post comment:</h4>
          <form action="" method="post">
              {% csrf_token %}
              {{ form.text }}
              <br/>
              <input type="submit" value="Post">
          </form>
      </div>
  {% endif %}

{% endblock %}