body {
  background-color: rgb(40, 50, 80);
  color: LightGray;
}
/* unvisited link */
a:link {
  color: LightGray;
}

/* visited link */
a:visited {
  color: LightGray;
}

/* mouse over link */
a:hover {
  color: Aqua;
}

/* selected link */
a:active {
  color: red;
}